# Testing Docker Compose configuration
# Last updated: 2025-09-02 by CI/CD debugging

services:
  web:
    extends:
      file: docker-compose.base.yml
      service: web
    build:
      target: testing
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings.testing
      - DEBUG=False
      - TESTING=True
    env_file:
      - environments/.env.testing.example
    ports:
      - "8001:8000"
    command: python manage.py test --verbosity=2

  db:
    extends:
      file: docker-compose.base.yml
      service: db
    environment:
      - POSTGRES_DB=django_app_test
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5433:5432"

  memcached:
    extends:
      file: docker-compose.base.yml
      service: memcached
    ports:
      - "11212:11211"

  rabbitmq:
    extends:
      file: docker-compose.base.yml
      service: rabbitmq
    ports:
      - "5673:5672"
      - "15673:15672"

volumes:
  postgres_data:
  rabbitmq_data:
  static_volume:
  media_volume:
  logs_volume: